<!DOCTYPE html>
<html>
  <head>

    <script id="app-template" type="text/template">
      <input type="text" role="todo-input" />
      <div role="list-container"></div>
      <a role="clear-done">Clear Done</a>
    </script>

    <script id="todo-item-template" type="text/template">
      <div class="todo-item">
        <input role="done-check" type="checkbox" <%= done ? 'checked' : '' %>/>
        <%= text %>
      </div>
    </script>

    <link href="normalize.css" rel="stylesheet"/>
    <link href="foundation.css" rel="stylesheet"/>
    <link href="main.css" rel="stylesheet"/>
    <script src="jquery.js"></script>
    <script src="lodash.js"></script>
    <script src="backbone.js"></script>
    <script src="main.js"></script>
  </head>
  <body></body>
</html>
